<% provide(:title, "HOME") %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-12 d-none d-md-block">
        <div class="card p-2">
          <%= image_tag current_user.picture.url, class: "card-img-top rounded-circle" %>
          <div class="card-body">
            <h4 class="card-title"><%= "#{@user.name}" %></h4>
            <p class="card-text">
              <span class="text-secondary">ユーザー情報</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
