<p>※こちらは自動送信メールです。</p>

<p>Hello <%= @resource.email %>!</p>

<p>ご登録のパスワードリセットのリクエストを受け付けました。</p>

<p>パスワードをリセットする場合は、<%= link_to 'こちら', edit_password_url(@resource, reset_password_token: @token) %>をクリックしてください。</p>

<p>※このメールにお心当たりがない場合は、URLにアクセスせずにメールを破棄してください。</p>
